* {
  margin: 0;
	padding: 0;
  font-family: 'Alegreya Sans', Arial, sans-serif;
}

html {
	font-size: 62.5%;
}

.header-top {
    display:grid;
	background: rgba(0, 47, 77, .25);
    background-color:white;
	height: 170px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
    grid-columns: 200px auto;
    -moz-box-shadow:2px 2px 5px #333333; 
    -webkit-box-shadow:2px 2px 5px #333333; 
    box-shadow:2px 2px 5px #333333;
}

h1 {
  line-height: 70px;
	height: 70px;
  color: white;
  grid-column:1;
}

.login-title {

    height:100%;
    width:100%;
    grid-column:2;
}

#login-portrait {
  width: 50px;
  height: 50px;
  float: left;
}

.login-text {
    font-size: 30px;
    line-height: 170px;
    text-align:center;
    color:#036;
    z-index:12;
     font-family: Roboto,Helvetica,Arial,sans-serif;
}



.login-info {
  font-size: 20px;
  width: auto;
}

input {
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  width: 300px;
  left: 10px;
}

input:focus {
  background-color: white;
  padding: 5px;
}

#test {
  color: red;
  text-align: left;
}

.submit {
  position: absolute;
  top: 380px;
  left: 48%;
}

#login-icon {
  text-align: center;
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
  border: none;
}

.unimelb-logo{
    background-color:#036;
    width:180px;
    height:180px;
    -moz-box-shadow:2px 2px 5px #333333; 
    -webkit-box-shadow:2px 2px 5px #333333; 
    box-shadow:2px 2px 5px #333333;
    padding:10px;
}

.login-button{
    background-color:#036;

}

